@use "../../shared/Colors" as *;

.button {
    background-color: $themeGreen;
    border: none;
    //padding: 0.9rem 1rem;//i think this was needed for when buttons were gonna be square and standalone, not as part of a grid display.
    border-radius: 4px;
    &:hover {
        cursor: pointer;
    }
}
