@use "../shared/Colors" as *;
@use "../shared/Styles" as *;
@use "../shared/Variables" as *;

$componentGap: 1rem;
$buttonGap: .25rem;

.calculatorinator{
    @include flexCenterColumn();
    //@include fitContainer();
    border: 1px solid #d3d3d3;
    border-radius: $mainCornerSize;
    //max-width: 1080px;
    //max-height: 2400px;
    gap: $componentGap;
    height: 60%;
    padding: 2rem;

    .answerArea{
        border: 4px solid $themeGreen;
        border-radius: $mainCornerSize;
        padding: .5rem;
        box-sizing: border-box;
        width: 100%;
        min-height: 41.6px;//one line with padding
        display: flex;
        align-items: center;
        //justify-content: center;
    }
    .buttons{
        //padding: 1rem;
        box-sizing: border-box;
        @include flexCenter();
        gap: $componentGap;
        width: 100%;
        height: 100%;

        .left{
            @include flexCenterColumn();
            gap: $componentGap;
            justify-content: space-between;
            //width: 50%;
            height: 100%;

            .clear{
                width: 100%;
                .button{
                    width: 100%;
                }
            }

            .digits{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: $buttonGap;
            }

            .zeroAndDot{
                width: 100%;
                @include flexCenter();
                justify-content: space-between;
                .button{
                    width: 45%;
                }
            }
        }

        .right{
            @include flexCenterColumn();
            height: 100%;
            width: 100%;
            //gap: $componentGap;
            justify-content: space-between;

            .back{
                width: 100%;
                .button{
                    width: 100%;
                }
            }

            .operators{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $buttonGap;
                height: calc(50% + $buttonGap);

                .button{
                    height: 100%;
                }
            }

            .solve{
                width: 100%;

                .button{
                    width: 100%;
                }
            }
        }
    }
}
