.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
}

.title {
  font-size: 2rem;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.fadeOut {
  animation: fadeout 0.5s forwards;
}

.fadeIn {
  animation: fadein 0.5s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 2.75rem;
  }
}
.calculatorinator {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.calculatorinator .button {
  background-color: #b04c4f;
}
.calculatorinator #answerArea {
  grid-column: 1/6;
}
.calculatorinator #clear {
  grid-column: 1/4;
  height: 50%;
  align-self: center;
}
.calculatorinator #back {
  grid-column: 4/6;
  height: 50%;
  align-self: center;
}
.calculatorinator #multiply {
  height: 75%;
  grid-row: 3/5;
  grid-column: 4/5;
}
.calculatorinator #divide {
  height: 75%;
  grid-row: 3/5;
  grid-column: 5/6;
}
.calculatorinator #add {
  height: 150%;
  margin-top: -100%;
  grid-column: 4/5;
  grid-row: 5/5;
}
.calculatorinator #subtract {
  height: 150%;
  margin-top: -100%;
  grid-column: 5/6;
  grid-row: 5/5;
}
.calculatorinator #zero {
  grid-column: 1/2;
  height: 50%;
  align-self: center;
  margin-bottom: 3rem;
}
.calculatorinator #dot {
  grid-column: 2/3;
  height: 50%;
  align-self: center;
  margin-bottom: 3rem;
}
.calculatorinator #exponent {
  grid-column: 3/4;
  height: 50%;
  align-self: center;
  margin-bottom: 3rem;
}
.calculatorinator #solve {
  grid-column: 4/6;
  height: 50%;
  align-self: center;
  margin-bottom: 3rem;
}
.calculatorinator .answerArea {
  border: 4px solid #b04c4f;
  border-radius: 4px;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 50%;
  align-self: end;
  display: flex;
  align-items: center;
}
.calculatorinator .menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.calculatorinator .menuContainer img {
  height: 40px;
  z-index: 1;
  position: relative;
  margin-left: 4px;
  margin-top: 4px;
}
.calculatorinator .menuContainer .menu {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  padding-top: 80px;
  width: 100Vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.calculatorinator .menuContainer .menu.hide {
  transform: translateX(-100vw);
}
.calculatorinator .menuContainer .menu .colorOptions {
  width: 80%;
  height: 50px;
  font-size: 1rem;
  border-radius: 4px;
}
@media (width > 1500px) {
  .calculatorinator {
    width: 50vw;
    height: 50vh;
    position: inherit;
    border: 4px solid grey;
    border-radius: 4px;
    background-color: black;
  }
  .calculatorinator .button {
    height: auto;
    width: auto;
    padding: 0;
  }
  .calculatorinator #clear {
    height: 100%;
  }
  .calculatorinator #back {
    height: 100%;
  }
  .calculatorinator #one {
    grid-column: 1/2;
  }
  .calculatorinator #add {
    margin: 0;
    height: 100%;
    grid-row: 4/5;
  }
  .calculatorinator #subtract {
    margin: 0;
    height: 100%;
    grid-row: 4/5;
  }
  .calculatorinator #multiply {
    height: 100%;
    grid-row: 3/4;
  }
  .calculatorinator #divide {
    height: 100%;
    grid-row: 3/4;
  }
  .calculatorinator #zero {
    margin: 0;
    height: 100%;
  }
  .calculatorinator #dot {
    margin: 0;
    height: 100%;
  }
  .calculatorinator #exponent {
    margin: 0;
    height: 100%;
  }
  .calculatorinator #solve {
    margin: 0;
    height: 100%;
    grid-row: 5/6;
  }
}
.calculatorinator.themeBlue .button {
  background-color: #4c8db0;
}
.calculatorinator.themeBlue .answerArea {
  border-color: #4c8db0;
}
.calculatorinator.themeGreen .button {
  background-color: #4cb050;
}
.calculatorinator.themeGreen .answerArea {
  border-color: #4cb050;
}
.calculatorinator.themePurple .button {
  background-color: #6d4cb0;
}
.calculatorinator.themePurple .answerArea {
  border-color: #6d4cb0;
}
.calculatorinator.themeRed .button {
  background-color: #b04c4f;
}
.calculatorinator.themeRed .answerArea {
  border-color: #b04c4f;
}
.calculatorinator.themePink .button {
  background-color: #b04c9c;
}
.calculatorinator.themePink .answerArea {
  border-color: #b04c9c;
}
.calculatorinator.themeOrange .button {
  background-color: #b06f4c;
}
.calculatorinator.themeOrange .answerArea {
  border-color: #b06f4c;
}
.calculatorinator.themeCustom .button {
  background-color: var(--userColor, #b04c4f);
}
.calculatorinator.themeCustom .answerArea {
  border-color: #4c8db0;
}

/*# sourceMappingURL=Calculatorinator.css.map */
